@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Vazirmatn;
}
button,
input {
  font-family: Vazirmatn;
  border-radius: 10px;
  border: 1px solid#000;
  padding: 7px 5px;
  margin: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
}
form {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px;
  width: 300px;
  margin: 100px auto 20px;
  padding: 25px 15px;
}

.result {
  margin-top: 15px;
  border: 1px dotted #000;
  border-radius: 10px;
  padding: 10px 5rem;
  visibility: hidden;
}
