*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}
.container{
text-align: center;
/* margin: 10px; */
}
h2{
  margin-bottom: 12px;
}
input, button{
  all: unset;
}
input {
  border: 1px solid #000;
  padding: 9px;
  border-radius: 10px;
  margin: 5px 10px;
}
button{
  margin: 5px 10px;
  border: 1px solid ;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
border-radius: 50%;
}

p{
 margin-top: 12px; 
 text-shadow: #1f6feb 1px 5px 4px;
font-size: 50px;
}